html{
    background-color: #ffe4c4;
}

nav h1{
    color:white;

}
h1{
    color:brown;
}
.h1font-index{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}
.coursefont{
    font-family: 'Zeyada', 'cursive';
}

ul li {
    list-style-type: none;
    padding:5px;
}

ul {
    padding-inline-start: 0px;
}


footer,nav{
    text-align: center;
    background-color: #505110;
    color:#FFEF94;
    margin: 0px;
}
footer p {
    margin: 0px;
}

.grid nav{
    grid-area: nav;
}

.grid footer{
    grid-area: footer;
}

.image{
    grid-area: image;

}
.grid h2{
    grid-area: title;

}
.p1{
    grid-area: p1;

}
.p2{
    grid-area: p2;

}

.grid {
    display:grid;
    grid-template-columns: 11fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "title title"
    "p1 image"
    "p2 ."
    "footer footer";
    column-gap: 10px;
}

.border-bottom li {
    border-bottom: 1px olive solid;
}
.border-bottom :last-child {
    border: none;
}


@media (min-width: 600px){
    
    .menu{
        display:flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 0px;
    }

    .menu li{
        padding: 15px;
    }

    .border-bottom li {
        border-bottom: 2px white solid;
    }

    .grid1 {
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        grid-template-areas: 
        "course ."
        ". course-description"
        "semester .";
        grid-gap: 0px;
    }

    .grid1 a {
        grid-area: course;
    }
    .semester {
        grid-area: semester;
    }
    .course-description {
        grid-area: course-description;
        margin: 0px;
    }


    

}