html{
    background-color: #ffe4c4;
}

h1{
    color:#691B1B;

}
.h1font-index{
    font-family: 'Montserrat', sans-serif;
}
.coursefont{
    font-family: 'Zeyada', 'cursive';
}


.menu{
    list-style-type: none;
    display:flex;
    justify-content: center;
    padding: 0;
}
.menu li{
    padding: 15px;
    display: inline-block;
}


nav{
    text-align: center;
    grid-area: nav;
}

footer{
    text-align: center;
    grid-area: footer;
}
#copyright, #heading{
    background-color: rgb(110, 115, 24);
}
.image{
    grid-area: image;

}
.title{
    grid-area: title;

}
.p1{
    grid-area: p1;

}
.p2{
    grid-area: p2;

}

.grid {
    display:grid;
    grid-template-columns: 11fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "title title"
    "p1 image"
    "p2 ."
    "footer footer";
    column-gap: 10px;
}